$maincolor:green;
$bgcolor: red;

h1{
    color: $maincolor;
    background-color:$bgcolor ;
}
h2{
    color: $maincolor;
    background-color: $bgcolor;
}
h3{
    color: $maincolor;
    background-color: $bgcolor;
}